.Card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 75, 255, 0.1); /* Blue shadow */
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 75, 255, 0.2);
}

.Card img.picture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}

.Card h2.title {
  font-size: 20px;
  color: #005ecb;
  margin-bottom: 5px;
}

.Card h3 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.Card .deleteButton, .Card .editButton {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  margin-top: 10px;
  border-radius: 6px;
}

.Card .deleteButton:hover {
  background-color: #005ecb;
}